/node_modules
npm-debug.log
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
/.svn

/public/storage/cache
vendor/.git
vendor/*/test
vendor/*/tests
/.phpstorm.meta.php
/_ide_helper.php
/composer.lock
/.env
/PUSH.SH
/todo.txt
/bootstrap/cache/services.php
/storage/clockwork/